

	<% @users.each do |user| %>
		<p><%= user.fname %>: 
		<%= user.lname %>: 
		<%= user.username %>: 
		<%= user.password %>:
		<%= user.email %>:
		<%= user.phone %></p>
	<% end %>
<h5><a href="/adminhome">Back to Post Page</a></h5>
        <h5><a href="/logout">Log Out</a></h5>

