<h5><a href="/profile">Back to Profile</a></h5>

	<div id="Daily_Topic">
		<h1><%= @post.topic %></h1>
	</div>
	
<div id="container">
		<div id="rob">
			<p><%= @post.rob %></p>
		</div>
			<div id="james">
				<p> 
			</div>
</div>

	<br>


	<div id="comment_space">
		<span class="above">
			<%= @post.comments.first.created_at.localtime.strftime("%a - %D") if (@post.comments.first)%>
		</span>
			<% @post.comments.each_with_index do |comment,index| %>
				<div class="comment" id="msg_<%= index+1 %>">
					<span class="username">
						<%=	comment.user.username + ":" %>
					</span>
						<span class="right">
							<%= comment.created_at.localtime.strftime("%l: %M %p") %>
						</span>
						<p class="com">
							<%= comment.usr_comment %>
						</p>
			</div>
		<% end %>
	</div>

<form id="comments" method="POST" action="/post/<%= @post.id %>/comment">
	<textarea type="textarea" rows="4" cols="95" id="users_textbox" name="usr_comment"></textarea>
		<input id="uname" type="hidden" name="uname" value="<%= @current_login.username %>">
		<input id="usrSub" type="submit"  value="Submit">
</form>







