<h5><a href="/profile">Back to Profile</a></h5>
	
<!-- <div id="topic comments"> </div>
		<form id="sug_topics" method="POST" action="/feed"> 
			<input type="text" name="sug_top">
			<input type="submit" name="Submit">
		</form> -->

	<div id="Daily_Topic">
		<h1><%= @post.topic %></h1>
	</div>
	<div id="rob">
		<p><%= @post.rob %></p>
	</div>
	<div id="james">
		<p><%= @post.james %></p>
	</div>

	<br>

	<div id="comment_space"><% @post.comments.each_with_index do |comment,index| %> 
			<div class="comment" id="msg_<%= index+1 %>"> <%= comment.usr_comment %><span class="right"><%= comment.created_at.localtime.strftime("%l:%M %p") %></span> </div>
		<% end %>

	</div>

<form id=comments method="POST" action="/post/<%= @post.id %>/comment">
	<textarea type="textarea" rows="4" cols="95" id="users_textbox" name="usr_comment"></textarea>
		<input id="usrSub" type="submit"  value="Submit">
</form>
<!-- 
######add box, top right corner for suggested topics, up and down values connected to see which is most liked. 

display username on bottom comments. set a date for posts in that day in its own div. 

save everything to database

organize databse





