<% if flash[:notice] %>
   <div id="notice">
       <%= flash[:notice] %>
   </div>
   <% end %>
   <%= "Session:" + session[:user_id].to_s %>
   <h1>Welcome <%= @current_login.fname %> <%= @current_login.lname %></h1>
   <% if @current_login %>
       <h3>Personal Information</h3>
       <p>User Name: <%= @current_login.username %></p>
       <a href="/logout">Log Out</a>
   <% end %>
   <%= erb :login unless @current_login %>

   <form method="POST" action="/profile">
  <fieldset>
    <legend>Edit Profile</legend>
    <label for="fname">First Name</label>
    <input type="text" name="fname" value="<%= @current_login.fname %>" /><br />
    <label for="lname">Last Name</label>
    <input type="text" name="lname" value="<%= @current_login.lname %>" /><br />
    <label for="username">User Name</label>
    <input type="text" name="username" value="<%= @current_login.username %>" /><br />
    <label for="pass">Password</label>
    <input type="password" name="password" value="<%= @current_login.password %>" /><br />
    <input type="submit" value="Submit Edits" />
  </fieldset>
</form>